html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	background: #000;
}


#container {
	display: block;
	height: 100%;
}

#studio-clock {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}